body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.exercise {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}


h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

p {
    margin: 5px 0;
    font-size: 1em;
    color: #666;
}

p strong {
    font-weight: bold;
}

.exercise p {
    margin: 4px 0;
}
